---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import ChordDisplay from "../components/ChordDisplay/ChordDisplay.svelte";
---

<Layout title="Welcome to Astro.">
  <main>
    <ChordDisplay client:only="svelte" />
  </main>
</Layout>

<style></style>
